@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --color-50: hsla(0, 0%, 100%, 0.75);
  --color-100: hsl(0, 0%, 95%);
  --color-300: hsl(31, 77%, 52%);
  --color-500: hsl(184, 100%, 22%);
  --color-700: hsl(179, 100%, 13%);
}

html {
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  max-width: 90rem;
  background: var(--color-100);

  display: flex;
  justify-content: center;
  align-items: center;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.card-preview {
  width: 57.5rem;
  height: 31.25rem;
  border-radius: 0.5rem;
  overflow: hidden;

  display: flex;
}

.card {
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card:nth-child(1) {
  background: var(--color-300);
  color: var(--color-300);
}

.card:nth-child(2) {
  background: var(--color-500);
  color: var(--color-500);
}

.card:nth-child(3) {
  background: var(--color-700);
  color: var(--color-700);
}

.card-icon {
  margin-bottom: 2.1875rem;
}

.card-title {
  font-family: "Big Shoulders Display", cursive;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-100);
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
}

.card-description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--color-50);
  line-height: 1.5625rem;
  margin-bottom: 5.1875rem;
}

.card-button {
  font-family: "Lexend Deca", sans-serif;
  padding: 0.5625rem 1.8438rem 0.625rem 1.8438rem;
  border-radius: 1.5625rem;
  background: var(--color-100);
  border: 0.125rem solid var(--color-100);
  color: inherit;
  line-height: 1.5625rem;
}

.card-button:hover {
  background: inherit;
  color: var(--color-100);
  cursor: pointer;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 23.4375rem) {
  .card-preview {
    flex-direction: column;
    width: 20.4375rem;
    height: 82.875rem;
  }

  .card-description {
    margin-bottom: 1.5625rem;
  }
}
